[package]
name = "kernel"
version = "0.1.0"
edition = "2024"
default-run = "kernel"

[[bin]]
name = "kernel"
test = false
doctest = false
bench = false
doc = false

[dependencies]
common = { workspace = true }
